@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Oswald:wght@700&display=swap');
body{    
    margin: 50px;
}

h1{
    font-family: 'Oswald', sans-serif;
    /* text-align: center; */
    /* font-weight: 1000; */
}

p{
    font-family: 'Fira Sans', sans-serif;
    /* text-align: center; */
    font-weight: 700;
}


#todays-challenges{
    color: rgb(170,96,83);
    /* font-weight: 9000; */
    font-size: 30px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

